:root {
    --global-font: Calibri;
    --global-primary-color: cadetblue;
    --global-secondary-color: skyblue;
    --global-tertiary-color: azure;
}

body {
    font-family: var(--global-font);
    color: var(--global-tertiary-color);
    margin: 0;
    background-color: black;
}

#main-logo {
    color: var(--global-primary-color);
    font-weight: bold;
}

.button-option {
    background-color: var(--global-primary-color);
    font-family: var(--global-font);
}

#list-option {
    font-family: var(--global-font);
}

a:visited {
    color: var(--global-secondary-color);
}

a:link {
    color: var(--global-primary-color);
}

.photo_table td {
    border-right: 1px solid var(--global-tertiary-color);
}

.photo_table th {
    border-right: 1px solid var(--global-tertiary-color);
    border-bottom: 1px solid var(--global-tertiary-color);
}

#cancel-link{
    color: var(--global-primary-color);
}