{% extends 'photo_manager/base/base.html' %}

{% block body %}

<div>
    <table>
        {% for photo in photos %}
        <tr>
            {% if not 'http' in photo.url.url %}
            <td> <img src="{{ photo.url.url }}" width=100 height=100></td>
            <td>
                <a href="{% url 'option-update' photo.photo_ID %}">Update</a>
            </td>
            <td>
                <a href="{% url 'communication-delete-confirmation' photo.photo_ID %}" method="POST" enctype="multipart/form-data">Delete Photo</a>
            </td>

            {% else %}
            <td><img src="{{ photo.url }}" width=100 height=100></td>
            <td>
                <a href="{% url 'option-update' photo.photo_ID %}">Update</a>
            </td>
            <td>
                <a href="{% url 'communication-delete-confirmation' photo.photo_ID %}" method="POST" enctype="multipart/form-data">Delete Photo</a>
            </td>

            {% endif %}

            {% empty %}
            <p>Sorry, no images found in the database. Please <a href="{% url 'option-create' %}">add manually</a>
                or <a href="{% url 'option-initialize-database' %}">initalize the database</a>.</p>
            {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}