{% extends 'photo_manager/base/base.html' %}

{% block body %}
<section>
    <p>
        {% for photo in photos %}
        {% if not 'http' in photo.url.url %}
        <img src="{{ photo.url.url }}" width=300>
        {% else %}
        <img src="{{ photo.url}}" width=300>
        {% endif %}

        {% empty %}
        <p>Sorry, no images found in the database. Please <a href="{% url 'option-create' %}">add manually</a> or <a
                href="{% url 'option-initialize-database' %}">initalize the database</a>.</p>
        {% endfor %}
        </p>
</section>
{% endblock %}